// ----- Override Variables -----
$primary: #555555; // set the $primary variable

@import "~bootstrap/scss/bootstrap";

// ----- Override Widths -----

@media (min-width: 576px) {
  .container {
    max-width: 550px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1040px;
  }
}
