// ----- Override Variables -----
// $primary: #555555; // set the Primary text color
$enable-rfs: false; // Disable Responsive Font Sizes

// @import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

// ----- Override Line Height -----
:root {
  --bs-body-line-height: 1.2rem;
}

// ----- Override Widths -----


@media (min-width: 576px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1040px;
  }
}