.biography {
  width: 40%;
  margin: auto;

  display: flex;
}

.biography-text {
}

.biography-text > * {
  padding: 0;
  margin: 0;
}

.biography-text-title {
  color: #444444;
  opacity: 90%;
  font-size: 40px;
  font-weight: 600;

  padding: 0.5rem 0;
}

.biography-text-subTitle {
  color: #000000;
  opacity: 62%;
  font-size: 14px;
  font-weight: 500;
}

.biography-text-paragraph {
  color: #000000;
  opacity: 62%;
  font-size: 16px;

  padding: 0.7rem 0;
}

.biography-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.biography-image-image {
  width: 200px;
  border-radius: 50%;
}

.biography-image-blank {
}