// ---- Line Breaks ----
.verticle-linebreak {
  width: 1px;
  display: none;
}

.horizontal-linebreak {
  height: 1px;
}

.optional-linebreak {
  display: block;
}

@media (min-width: 992px) {
  .verticle-linebreak {
    display: block;
  }

  .optional-linebreak {
    display: none;
  }
}

// ---- Project Container ----
.project-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

.project-content-image-container {
  width: 75%;
  margin: 0 auto;
  padding-left: 1rem;
}

.project-content-image {
  width: 100%;
}

@media ((min-width: 576px) and (max-width: 991px)) or ((min-width: 1200px)) {
  .project-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .project-content-image-container {
    width: 100%;
  }
}

// ---- Projects Row ----
.projects-row {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr auto 1fr;
  }
}

// ---- Projects Container ----
.projects-container {
  padding: 0 1rem;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}