// ---- Line Breaks ----
.verticle-linebreak {
  width: 2px;
}
.horizontal-linebreak {
  height: 2px;
}

.verticle-linebreak {
  display: none;
}

.optional-linebreak {
  display: block;
}

@media (min-width: 992px) {
  .verticle-linebreak {
    display: block;
  }

  .optional-linebreak {
    display: none;
  }
}

// ---- Project Container ----
.project-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

// ---- Projects Container ----
.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  @media (min-width: 576px) {
    width: 550px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }

  @media (min-width: 992px) {
    width: 900px;
    grid-template-columns: 1fr auto 1fr;
  }

  @media (min-width: 1200px), (min-width: 1400px) {
    width: 1040px;
  }
}
