// ---- Line Breaks ----
.verticle-linebreak {
  width: 1px;
}

.horizontal-linebreak {
  height: 1px;
}

.verticle-linebreak {
  display: none;
}

.optional-linebreak {
  display: block;
}

@media (min-width: 992px) {
  .verticle-linebreak {
    display: block;
  }

  .optional-linebreak {
    display: none;
  }
}

// ---- Project Container ----
.project-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

@media (min-width: 576px) and (max-width: 991px) {
  .project-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

// ---- Projects Row ----
.projects-row {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr auto 1fr;
  }

  @media (min-width: 1200px),
  (min-width: 1400px) {
    width: 1040px;
  }
}

// ---- Projects Container ----
.projects-container {
  padding: 0 1rem;

  @media (min-width: 768px) {
    padding: 0;
  }
}