.footer-container {
  height: 75px;
  margin-top: auto;
  padding-bottom: 1rem;
}

.width-footer-container {
  height: inherit;
  width: 250px;
  margin: auto;
}

@media (max-width: 70vh) {
  .width-footer-container {
    width: 80vw;
  }
}

.socials-icon-container {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.socials-icon-container > * {
  padding: 0 1%;
}

.WBH-icon-container {
   display: flex;
   height: 50%;
   justify-content: center;
   padding-top: 0.5rem;
}