$navbar-height: 95px;


.container {
  background-color: white;

  display: flex;
  justify-self: center;
  height: $navbar-height;
}

.navbar {
  margin: auto;
  height: inherit;

  display:flex;
  justify-content: space-between;
  align-content: center;
}

.navbar-links {
  display:flex;
}

.navbar-brand {
  color: #5F5F5F;
  font-size: 50px;
  font-weight: 600;
  margin: auto;
}

.navbar-title-burger {
  align-content: center;
}

.hamburger-react {
  display: none;
}

.navbar-links-item {
  transition: 0.3s;
  color: #444444;
  //color: #5F5F5F;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: auto 0 auto 1rem;

  align-content: center;
}

.navbar-links-item:hover {
  color: black;
}

.navbar-links-item.active {
  color: black;
}

.navbar-menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.burger-button {
  background-color: white;
  border: 0;
  display: none;
}

.brand-button-container {
  display: flex;
}

//brand-button




@media (min-width: 450px) {
  .invidible-box {
    width: 48px;
  }
}


@media (max-width: 768px) {
  
  .hamburger-react {
    display: block;
  }

  .navbar-title-burger {
    height: $navbar-height;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    z-index: 10;
    background-color: white;
  }

  .navbar-brand {
    margin: 0;
    font-size: 40px;
  }

  .navbar {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links-item {
    margin: 0.5rem auto;
  }

  .navbar-links {
    background-color: white;
    flex-direction: column;

    transition: 1s;
    transform: translateY(-100%);
  }

  .navbar-links.open {
    position: relative;

    transform: translateY(0);

  }
}

@media (min-width: 768px) {
  .navbar {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .navbar {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .navbar {
    width: 50%;
  }
}

@media (min-width: 1700px) {
  .navbar {
    width: 40%;
  }
}
