/* The following block can be included in a custom.scss */

:root,
[data-bs-theme=light] {
  //// Navbar Background Color
  //--bs-tertiary-bg-rgb: 240, 240, 240;
  //
  ////  Navbar Brand Color
  //--bs-emphasis-color-rgb: 95, 95, 95;

  //  Body Font
  --bs-body-font-family: var(--bs-font-sans-serif);
}

.navbar-brand-custom {
  font-size: 50px;
  font-weight: 600;
  color: #5F5F5F;
}
.navbar-brand-custom:hover {
  color: #5F5F5F;
}

.navbar-link-custom {
  font-size: 20px;
  font-weight: 600;
  color: #444444;
}

.navbar-link-custom.active{
  color: #FFFFFF;
}


.navbar {
  --bs-navbar-active-color: 255, 0, 0;
}


@media (min-width: 768px) {
  .navbar-custom {
    max-width: 650px;
  }
}